<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home页</title>
</head>

<body>
<div style="width:100%; margin-top:10%;">
<div style="width:22%; float:left;">
<img style="margin-left:45%; float:left" src="images/img1.png" />
<p style="font-size:14px; font-family:微软雅黑; text-align:center; letter-spacing:2px; float:left;"><span style="font-size:18px; line-height:40px;">开源的主题</span><br />RCloud是推中软国际推出的一个面向行业的PaaS云平台，它支持多种框架、语言、运行时环境、云平台及应用服务，使开发人员能够在几秒钟内进行应用程序的部署和扩展</p>
</div>

<div style="width:22%; margin-left:4%; float:left;">
<img style="margin-left:45%; float:left" src="images/img2.png" />
<p style="font-size:14px; font-family:微软雅黑; text-align:center; letter-spacing:2px; float:left;"><span style="font-size:18px; line-height:40px;">简易的设置</span><br />RCloud是推中软国际推出的一个面向行业的PaaS云平台，它支持多种框架、语言、运行时环境、云平台及应用服务，使开发人员能够在几秒钟内进行应用程序的部署和扩展</p>
</div>

<div style="width:22%; margin-left:4%; float:left;">
<img style="margin-left:45%; float:left" src="images/img3.png" />
<p style="font-size:14px; font-family:微软雅黑; text-align:center; letter-spacing:2px; float:left;"><span style="font-size:18px; line-height:40px;">开源的主题</span><br />RCloud是推中软国际推出的一个面向行业的PaaS云平台，它支持多种框架、语言、运行时环境、云平台及应用服务，使开发人员能够在几秒钟内进行应用程序的部署和扩展</p>
</div>

<div style="width:22%; margin-left:4%; float:left;">
<img style="margin-left:45%; float:left" src="images/img4.png" />
<p style="font-size:14px; font-family:微软雅黑; text-align:center; letter-spacing:2px; float:left;"><span style="font-size:18px; line-height:40px;">开源的主题</span><br />RCloud是推中软国际推出的一个面向行业的PaaS云平台，它支持多种框架、语言、运行时环境、云平台及应用服务，使开发人员能够在几秒钟内进行应用程序的部署和扩展</p>
</div>

</div>

</body>
</html>
