<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.chinasofti.login.dao.mybatis.TestUserDao">

	<!-- 查询一条记录 -->
	<select id="findUserbyPwd"  resultType="com.chinasofti.login.domain.TestUser">
		SELECT  id,login_name loginName,name,password FROM test_user WHERE login_name=#{loginName} and password=#{loginPwd}
	</select>
</mapper> 
